{% extends 'base.html' %}

{% block title %}
  | {{ object }}'s Profile
{% endblock %}


{% block profile %}
<div class="profile-container flex">
  <div class="profile-info-container flex just-center">
    <div class="profile-info flex flex-col ">

      <div class="profile-pic-container">
        <img class="profile-pic" src="{{ object.profile_pic.url }}" alt="">
      </div>
      <div class="profile-text mt20 mb20 mr5 ml5">
        {% if object.name %}
          <h2 class="text">{{ object.name }}</h2>
        {% endif %}
          <h3 class="light thin">{{object.user}}</h3>
        {% if object.bio %}
          <p class="text mb20 mt10">{{ object.bio }}</p>
        {% endif %}
        {% if request.user == object.user %}
          <a href="{% url 'profile-update-view' request.user.id %}" class="link-btn">Edit Profile</a>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="profile-posts">
    {% if object.privacy == True and request.user == object.user %}
    <div class="posts-container">
      {% for post in object.user.post_set.all %}
        <div class="post-container">
          <div class="post">
            <div class="title-bar flex all-center just-between">
              <div class="flex all-center just-between">
                <div class="title-bar-pic-container">
                  {% if post.author.profile.profile_pic.url %}
                  <img class="title-bar-pic" src="{{ post.author.profile.profile_pic.url }}" alt="profile pic">
                  
                  {% endif %}
                </div>
                <b class="text"><a class="link-c" href="{% url 'profile-detail-view' post.author %}">{{post.author}}</a></b>
              </div>
              <div class="mr10">
                <p class="created text-mute ">{{post.created|date:'M d Y'}}</p>
              </div>
            </div>
            <div class="content">
              <h2 class="title"><a class="link-b" href="{% url 'posts-detail-view' post.id %}">{{post.title}}</a></h2>
              {% if post.image %}
              <img class="profile-page-post" src="{{ post.image.url }}" alt="{{post.title}} image">
              {% endif %}
              <p class="text">
                {{ post.body }}
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% else %}
      <h1 class="text">private account</h1>
    {% endif %}
    </div>
</div>
  
{% endblock %}