{% extends 'base.html' %}

{% block title %}
  | Update profile ({{object}})
{% endblock %}

{% block form %}
  <div class="flex just-center all-center text-center">
    <h2 class="text mt40">Update Profile</h2>
  </div>
  <div class="flex just-center all-center mt20">
    <form novalidate method="POST" enctype="multipart/form-data">
      <div class="flex flex-col just-between">
        {% csrf_token %}
        <div class="mb5 ml5 mr5 bt5">
          {{ form.name }}
          <p class="error">{{form.errors.name}}</p>
        </div>
        <div class="text mt10 ml10 mr5 mb10">
          <input type="file" name="profile_pic" accept="image/*" id="id_profile_pic">
        </div>
        <p class="error">{{form.errors.profile_pic}}</p>
        <div class="mb5 ml5 mr5 bt5">
          {{ form.bio }}
          <p class="error">{{form.errors.bio}}</p>
        </div>
        <div class="mb10 ml5 mr5 bt10 ">
          <p class="text include">{{form.privacy}} Private Account</p>
          <p class="text mb5 mr5">{{form.errors.privacy}}</p>
        </div>
        <div class="ml5"></div>
          <input class="login-btn" type="submit" value="Update">
        </div>
      </div>
    </form>
  </div>
{% endblock %}