{% extends 'base.html' %}

{% block title %}
  | {{object.title}}
{% endblock %}

{% block post %}

  <div class="">
    <p class="text">Update Post</p>
    <p class="text">Delete Post</p>
  </div>

  <div class="post-container">
    <div class="post">
      <div class="title-bar flex all-center just-between">
        <div class="flex all-center just-between">
          <div class="title-bar-pic-container">
            {% if object.author.profile.profile_pic.url %}
              <img class="title-bar-pic" src="{{ object.author.profile.profile_pic.url }}" alt="profile pic">
            
            {% endif %}
          </div>
          <b class="text"><a class="link-c" href="{% url 'profile-detail-view' object.author %}">{{object.author}}</a></b>
        </div>
        <div class="mr10">
          <p class="created text-mute ">{{object.created|date:'M d Y'}}</p>
        </div>
        <div class="drop-circle">
          <svg class="caret-down" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-down" class="svg-inline--fa fa-caret-down fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"></path></svg>
        </div>
      </div>
      <div class="content">
        <h2 class="title"><a class="link-b" href="{% url 'posts-detail-view' object.id %}">{{object.title}}</a></h2>
        {% if object.image %}
          <img class="post-pic" src="{{ object.image.url }}" alt="{{object.title}} image">
        {% endif %}
        <p class="text">
          {{ object.body }}
        </p>
      </div>
    </div>
  </div>
{% endblock %}