{% extends 'base.html' %}

{% block title %}
  | Create New Post
{% endblock %}

{% block form %}
  <div class="flex all-center flex-col just-center mt10 mb20 mr5 ml5">
    <h2 class="text">Create New Post</h2>
    <form novalidate method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="flex just-between flex-col">
        <div class="ml5 mt10 mb5 mr5">
          <input placeholder="Title" type="text" name="title" maxlength="255" required="" id="id_title">
          {{form.errors.title}}
        </div>
        <div class="ml10 mt10 mb5 mr5">
          <p class="text">{{ form.image }}</p>
          {{form.errors.image}}
        </div>
        <div class="ml5 mt10 mb5 mr5">
          <textarea placeholder="Details" name="body" cols="40" rows="10" maxlength="4000" required="" id="id_body"></textarea>
          {{form.errors.body}}
        </div>
        <input class="login-btn ml100 mb5 mr10" type="submit" value="Create">
      </div>
    </form>
  </div>
{% endblock %}