{% extends 'base.html' %}



{% block title %}
  | Posts
{% endblock %}

{% block posts %}
{% for message in messages %}
<div class="message-container info-msg flex just-between all-center">
  <div class="">
    <p>{{ message }}</p>
  </div>
  <div onclick="this.parentElement.style.display='none';" class="cross m5 ml10">
    <span>&#215;</span>
  </div>
</div>
{% endfor %}

  <div class="posts-container">

    {% for post in object_list %}
    <div class="post-container">
      <div class="post">
        <div class="title-bar flex all-center just-between">
          <div class="flex all-center just-between">
            <div class="title-bar-pic-container">
              {% if post.author.profile.profile_pic.url %}
                <img class="title-bar-pic" src="{{ post.author.profile.profile_pic.url }}" alt="profile pic">
              {% endif %}
            </div>
            <b class="text"><a class="link-c" href="{% url 'profile-detail-view' post.author %}">{{post.author}}</a></b>
          </div>
          <div class="mr10">
            <p class="created text-mute ">{{post.created|date:'M d Y'}}</p>
          </div>
        </div>
        <div class="content">
          <h2 class="title"><a class="link-b" href="{% url 'posts-detail-view' post.id %}">{{post.title}}</a></h2>
          {% if post.image %}
            <img class="post-pic" src="{{ post.image.url }}" alt="{{post.title}} image">
          {% endif %}
          <p class="text">
            {{ post.body }}
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="pagination-container">
      {% if page_obj.has_previous %}
      <a class="link-btn" href="?page=1">&laquo; first</a>
      <a class="link-btn" href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}


      <p class="text ml5 mr5">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </p>
      
      {% if page_obj.has_next %}
      <a class="link-btn" href="?page={{ page_obj.next_page_number }}">next</a>
      <a class="link-btn" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </div>
  </div>

{% endblock %}