{% extends 'base.html' %}

{% block title %}
  | Login
{% endblock %}

{% block popup %}
  {% for message in messages %}
  <div class="message-container info-msg flex just-between all-center">
    <div class="">
      <p>{{ message }}</p>
    </div>
    <div onclick="this.parentElement.style.display='none';" class="cross m5 ml10">
      <span>&#215;</span>
    </div>
  </div>
  {% endfor %}

  {% if form.non_field_errors %}
      <div class="message-container flex just-between all-center error-msg">
        <div class="">
          <p>{{form.non_field_errors}}</p>
        </div>
        <div onclick="this.parentElement.style.display='none';" class="cross m5 ml10">
          <span>&#215;</span>
        </div>
      </div>
    {% endif %}
{% endblock %}


{% block form %}

  <div class="flex flex-col all-center text-center mt40 mb20">
    <h1 class="text mt10">
      Blog App
    </h1>
    <form novalidate method="POST">
      <div class="mt20 ml20 mr20 mb20 flex flex-col all-center text-center">
        {% csrf_token %}
        {{ form.username }}
        {{ form.password }}
        <input type="submit" class="login-btn" value="Log In">
      </div>
    </form>
    <div class="mt10 ml5 mr5 mb10 flex text-center all-center just-center">
      <p class="text">Don't have an account? <a class="link-b" href="{% url 'register-view' %}">Sign Up</a></p>
    </div>
    
  </div>
{% endblock %}