<style>
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
    
    body{
        font-family: 'Lato', sans-serif;;
    }

    .font{
        font-family: 'Lato', sans-serif;
        line-height: 1rem;
    }
</style>

{% load i18n %}{% autoescape off %}
<pre class="font">
    <div style="background-color: #0099ff; padding: 20px; display: flex; text-align: center; justify-content: center; align-items: center;">
        <h1 style="color: #fff; margin: 10px auto;">Blog App</h1>
    </div>

    <p>You're receiving this email because you requested a password reset for your user account at {{ site_name }}.</p>
    <p>Please go to the following page and choose a new password:</p>
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    <p>Your username, in case you’ve forgotten: {{ user.get_username}}</p>
    <p>Thanks for using our site!</p>
    <p>The {{ site_name }} team </p>
    <p>Cheers!&#129346;</p>
</pre>

{% endautoescape %}
