{% extends 'base.html' %}


{% block form %}
<form novalidate method="POST">
  {% csrf_token %}
  <!-- {{ form.as_p }} -->
  <div class="flex flex-col just-center all-center text-center mt40">
      <p class="text mt40">Forgot your account’s password or</p>
      <p class="text">Having trouble logging into your account?</p>
      <p class="text">Enter your email address and </p>
      <p class="text mb20">we’ll send you a recovery link.</p>
      <input  required="true" type="email" name="email" placeholder="Email Id" id="id_email" class="form-control form-input">
      <input type="submit" class="login-btn" value="Request Password">
  </div>
</form>
{% endblock %}