{% extends 'base.html' %}

{% block popup %}
  {% if form.errors %}
  <div class="">
    {% for field in form %}
      {% for error in field.errors %}
        <div class="message-container info-msg flex just-between all-center">
            <p>{{ error }}</p>
          <div onclick="this.parentElement.style.display='none';" class="cross m5 ml10">
              <span>&#215;</span>
          </div>
        </div>
      {% endfor %}
    {% endfor %}
  </div>
  {% endif %}
{% endblock %}

{% block form %}
<form method="POST">
  {% csrf_token %}
  <div class="flex ml5 mr5 mt40 mt10  flex-col all-center text-center">
      <!-- {% if request.user.is_authenticated %}
          <input required="true" type="password" name="old_password" placeholder="Old Password" id="id_old_password" class="form-control form-input">
      {% endif %} -->
      <h2 class="text mt40 mb10">Enter New Password</h2>
      <input required="true" type="password" name="new_password1" placeholder="Password" id="id_new_password1" class="form-control form-input">
      <input required="true" type="password" name="new_password2" placeholder="Confirm Password" id="id_new_password2" class="form-control form-input">
      
      <input type="submit" class="login-btn" value="Reset Password">
  </div>
</form>
{% endblock %}