*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Lato', sans-serif;
  background-color: #0d1117;
}


.hidden{
  display: none;
}


/* margin top */
.mt5{
  margin-top: 5px;
}

.mt10{
  margin-top: 10px;
}

.mt20{
  margin-top: 20px;
  
}

.mt30{
  margin-top: 30px;
  
}

.mt40{
  margin-top: 40px;
  
}


/* margin bottom */
.mb10{
  margin-bottom: 10px;
}

.mb20{
  margin-bottom: 20px;
}

.mb30{
  margin-bottom: 40px;
}

.mb40{
  margin-bottom: 40px;
}

/* margin right */
.mr5{
  margin-right: 5px;
}

.mr10{
  margin-right: 10px;
  
}

.mr20{
  margin-right: 20px;
  
}

.mr30{
  margin-right: 30px;
  
}

.mr40{
  margin-right: 40px;
  
}

/* margin left */
.ml5{
  margin-left: 5px;
}

.ml10{
  margin-left: 10px;
  
}

.ml20{
  margin-left: 20px;
  
}

.ml30{
  margin-left: 30px;
}

.ml40{
  margin-left: 40px;
  
}


.flex{
  display: flex;
}

.flex-col{
  flex-direction: column;
}

.flex-row{
  flex-direction: row;
}

.just-start{
  justify-content: flex-start;
}

.just-end{
  justify-content: flex-start;
}

.just-between{
  justify-content: space-between;
}

.just-evenly{
  justify-content: space-evenly;
}

.just-around{
  justify-content: space-around;
}

.just-center{
  justify-content: center;
}

.all-center{
  align-items: center;
}

.link-b{
  text-decoration: none;
  color: #0099ff;
}

.link-c{
  text-decoration: none;
  color: #ccc;
}

.text{
  color: #ccc;
}

.light{
  color: #8d8d8d;
}

.thin{
  font-weight: 300;
}

.text-mute{
  font-size: .8rem;
  font-weight: 300;
  color: #ccc;
}

.posts-container{
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-container{
  min-height: 150px;
  width: 60%;
  min-width: 500px;
  border-radius: 8px;
  border: 1px solid #4d4d4d;
  margin: 20px auto;
  z-index: 10;
  overflow: hidden;
}

.title-bar-pic-container{
  height: 30px;
  width: 30px;
  background-color: #1e1e1e;
  border-radius: 50%;
  overflow: hidden;
  margin: 0px 6px 0px 0px;
}

.title-bar-pic{
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.title{
  color: #0099ff;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 5px 1px;
}

.title-bar{
  width: 100%;
  margin: 10px;
  padding: 2px 20px;
}


.content{
  border-top: 1px #4d4d4d solid;
  background-color: #161B22;
  color: #ccc;
  padding: 20px;
  line-height: 2rem;
}

.post-pic{
  width: 500px;
  margin: 10px;
}

.content-text{
  font-size: 1rem;
}

/* profile */

.profile-pic-container{
  height: 200px;
  width: 200px;
  background-color: #1e1e1e;
  border-radius: 50%;
  overflow: hidden;
  margin: 0px 6px 0px 0px;
}

.profile-pic{
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.profile-info-container{
  flex: 1;
}

.profile-info{
  padding: 30px 20px;
  margin: 30px;
}

.profile-posts{
  flex: 3;
}



















/* pagination */

.pagination-container{
  min-width: 300px;
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.link-btn{
  margin: 2px 4px;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 4px;
  display: inline-block;
  border: 1px solid #0066db;
  background-color: #13242ba9;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #1b85ff;
  padding: 1px 5px;
}

.link-btn:hover{
  color: #008cff;
  border: 1px solid #008cff;
  background-color: #1d313aa9;
}











/* loader */

#loader-container{
  height: 2px;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 11;
}

#loader{
  height: 100%;
  left: 0;
  background: linear-gradient(to right,#20f8ff, #047ee2c4);
  animation: loading 1s 1;
}

@keyframes loading{
  from{
    width: 0px;
  }
  to{
    width: 100%;
  }
}