<style>
  /* nav bar */
  .nav-container{
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    border-bottom: 1px solid #4d4d4d;
  }


</style>

<div class="nav-container flex just-end all-center">
  <nav class="">
    <ul class="flex all-center mr10 ml10 ">
      <li class="mt5 mb5 mr10 ml10"><a class=" bold link-c" href="#">Home</a></li>
      <li class="mt5 mb5 mr10 ml10"><a class=" bold link-c" href="#">News</a></li>
      <li class="mt5 mb5 mr10 ml10"><a class=" bold link-c" href="#">Contact</a></li>
      <li class="mt5 mb5 mr10 ml10"><a class=" bold link-c" href="#">About</a></li>
    </ul>
  </nav>
</div>