<link rel="stylesheet" href="{% static 'style/style.css' %">


<div class="nav-container flex just-end all-center">
  <nav class="">
    <ul class="flex all-center mr10 ml10 ">
      <li class="mt5 mb5 mr10 ml10"><a class=" bold link-c" href="{% url 'posts-list-view' %}">Home</a></li>
      <li class="mt5 mb5 mr10 ml10"><a class=" bold link-c" href="#">News</a></li>
      <li class="mt5 mb5 mr10 ml10"><a class=" bold link-c" href="#">Contact</a></li>
      {% if request.user.is_authenticated %}
      <div class="drop-down">
        <p class="bold link-c mt5 mb5 mr10 ml10">Menu</p>
        <div class="drop-down-content">
          <li><a class=" text" href="{% url 'posts-create-view' %}">Create</a></li>
          <li><a class=" text" href="{% url 'profile-detail-view' request.user.username %}">Profile</a></li>
          <li><a class=" text" href="{% url 'logout-view' %}">Logout</a></li>
        </div>
      </div>
      
      <li class="mt5 mb5 mr10 ml10">
        <div class="title-bar-pic-container">
          {% if request.user.profile.profile_pic.url %}
            <a href="{% url 'profile-detail-view' request.user.username %}">
              <img class="title-bar-pic" src="{{ request.user.profile.profile_pic.url }}" alt="">
            </a>
          {% endif %}
        </div>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>